body{
  font-family: Tahoma;
  text-align: center;
  background-color: rgb(200, 255, 200);
}

.videos{
  width:70%;
  height:70%;
}

.topbutton {
  background-color: #04AA6D; /* Green */
  border: 2px solid green;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.disabled {
  background-color: #06c07c;
  border: none;
}

.topbutton:hover {
  background-color: #06c07c;
  color: white;
}
